body {
  background: var(--figma-color-bg);
  color: var(--figma-color-text);
  margin: 0;
  font-family: "Readex Pro", "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  padding: 1rem;
}

main > div {
  display: flex;
  gap: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 0;
}

ul {
  margin: 0;
}

hgroup p {
  text-align: center;
  margin-top: 0;
}

p {
  margin: 0.25rem 0;
}

button {
  align-items: center;
  appearance: none;
  background-color: var(--figma-color-bg-brand);
  border: none;
  border-radius: 2px;
  color: var(--figma-color-text-onbrand);
  cursor: pointer;
  display: flex;
  fill: var(--figma-color-icon-onbrand);
  min-height: 32px;
  justify-content: center;
  padding: 0 1rem;
}

button:hover {
  background-color: var(--figma-color-bg-brand-hover);
} 

.details {
  display: flex;
  gap: 1rem;
}

.swatch-visual {
  height: 100px;
  width: 100px;
  border-radius: 8px;
}

.swatch-visual.small {
  height: 20px;
  width: 20px;
}

#text-color-white .swatch-visual {
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

#text-color-black .swatch-visual {
  background-color: #000000;
  border: 1px solid #FFFFFF;
}

.swatch-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.swatch-details #hex {
  font-size: 2rem;
  font-weight: 600;
}