body {
  background: var(--figma-color-bg);
  color: var(--figma-color-text);
  margin: 0;
  font-family: "Readex Pro", "Inter", sans-serif;

  --cc-border-radius-md: 8px;
  --cc-border-radius-sm: 4px;
  --cc-spacing-md: 1rem;
  --cc-spacing-sm: 0.5rem;
  --cc-spacing-xs: 0.25rem;

  --cc-font-size-xl: 2.5rem;
  --cc-font-size-lg: 1.25rem;
  --cc-font-size-md: 1.125rem;
  --cc-font-size-sm: 1rem;
  --cc-font-size-xs: 0.875rem;

  --cc-button-border-radius: var(--cc-border-radius-md);
}

.figma-light {
  --figma-color-text-secondary: #666666;
  --figma-color-bg-brand: #000000;
}

* {
  box-sizing: border-box;
}

main, #editor-content {
  display: flex;
  flex-direction: column;
  gap: var(--cc-spacing-md);
  height: 100vh;
}

main { 
  padding: var(--cc-spacing-md);
}

main > div {
  display: flex;
  gap: 1rem;
  width: 100%;
}

main > button:last-child, #editor-content > button:last-child {
  margin-top: auto;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: var(--cc-font-size-xl);
  line-height: 1;
}

h2 {
  margin: 0;
  font-size: var(--cc-font-size-sm);
}

h3 {
  font-size: var(--cc-font-size-xs);
  font-weight: 600;
  width: 100%;
  border-bottom: 1px dashed var(--figma-color-border-strong);
  margin: 0;
}

ul {
  margin: 0;
}

hgroup p {
  font-weight: 600;
  font-size: var(--cc-font-size-md);
  color: var(--figma-color-text-secondary);
}

p {
  margin: 0;
}

button {
  align-items: center;
  appearance: none;
  background-color: var(--figma-color-bg-brand);
  border: none;
  border-radius: var(--cc-button-border-radius);
  color: var(--figma-color-text-onbrand);
  cursor: pointer;
  display: flex;
  fill: var(--figma-color-icon-onbrand);
  min-height: 44px;
  justify-content: center;
  padding: 0 var(--cc-spacing-sm);
  font-weight: bold;
  font-size: var(--cc-font-size-lg);
}

button:hover {
  background-color: var(--figma-color-bg-brand-hover);
} 

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#help-button {
  min-height: 38px;
}

.center {
  text-align: center;
}

.group {
  display: flex;
  flex-direction: column;
  gap: var(--cc-spacing-sm);
}

.group > h2 {
  background-color: var(--figma-color-bg-brand);
  color: var(--figma-color-text-onbrand);
  padding: var(--cc-spacing-xs) var(--cc-spacing-sm);
  border-radius: var(--cc-border-radius-md) var(--cc-border-radius-md) 0 0;
}

#contrast-details {
  display: flex;
  gap: 1rem;
}

#error-message {
  flex-grow: 1;
  align-content: center;
  text-align: center;
  font-size: var(--cc-font-size-md);
}

.hidden {
  display: none !important;
}

.swatch {
  display: flex;
  gap: var(--cc-spacing-sm);
}

.swatch-visual {
  height: 56px;
  width: 56px;
  flex-shrink: 0;
  border-radius: var(--cc-border-radius-sm);
  border: 2px solid #000000;
  font-size: 11px;
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
}

.swatch-visual.small {
  height: 32px;
  width: 32px;
}

.swatch .main-value {
  font-size: 1.5rem;
  font-weight: 600;
}

.swatch .sub-value {
  font-size: 1rem;
  color: var(--figma-color-text-secondary);
  overflow-x: hidden;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
  width: 234px;
}

#current-color .sub-value {
  width: 250px;
}


#new-color-swatch {
  display: flex;
  gap: var(--cc-spacing-sm);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#new-color-swatch-visual-white {
  background-color: #FFFFFF;
  border: 2px solid var(--figma-color-border-strong);
}

#new-color-swatch-visual-black {
  background-color: #000000;
  border: 2px solid var(--figma-color-border-strong);
  color: #FFFFFF;
}

.contrast-ratio {
  display: flex;
  gap: 0.5rem;
}

#new-color-swatch-details {
  font-size: var(--cc-font-size-sm);
  font-weight: 600;
  color: var(--figma-color-text-secondary);
}

#new-color-swatch-details .new-color-swatch-value {
  font-size: var(--cc-font-size-md);
  color: var(--figma-color-text);
}

#new-color-swatch-details .new-color-swatch-value.largest {
  background-color: var(--figma-color-bg-success-secondary);
  color: var(--figma-color-text-onsuccess);
  font-weight: bold;
  font-size: var(--cc-font-size-lg);
  padding: var(--cc-spacing-xs) var(--cc-spacing-sm);
  border-radius: var(--cc-border-radius-sm);
}

.swatch-details {
  display: flex;
  flex-direction: column;
}

.swatch-details #hex {
  font-size: 2rem;
  font-weight: 600;
}